.component-notice {
  position: static;
  height: 24px;
  line-height: 24px;
  background-color: red;
  text-align: center;
  z-index: 9999;
  color: #fff!important;

  a {
    color: #fff!important;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .next-icon {
    float: right;
    margin-right: 16px;
    cursor: pointer;
  }
}